*\#
.\#*
\#*
*~
*.*~
*.swp
*.out
go.sum
.gitignore
TAGS
niova-lcov/
niova-lcov.out
niova-ctl
*.diff
a.out
*-SAVE
*.o
niova
*.gcno
*.gcda
openssl-speed.txt
pahole.out
.gdb_history
uncommitted/
TODO*
*.cmd
libpumice.so.1.0.1
libpumicedb.*
libpumicedb_client.*
pumicedb-client-test
pumicedb-server-test
.*.swo
.*.swn
.clangd
*.orig
*.log
*.trs
*.lo
*.la
*.rej
configure
config.*
autom4te.cache
niova_pumicedb_config.*
Makefile
Makefile.in
aclocal.m4
compile
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.dirstamp
src/.libs/
src/contrib/.deps/
src/contrib/.dirstamp
stamp-h1
test/pumice-reference-client
test/pumice-reference-server
test/.libs/
niova-coverage
niovakv_pmdbserver
niovaclient
niovakv_client
niovakv_client_multi
niovakv_server
go/pumiceDB/examples/covid19APP/client/covid_app_client
go/pumiceDB/examples/covid19APP/server/covid_app_server
go/pumiceDB/examples/foodpalaceAPP/client/foodpalaceappclient
go/pumiceDB/examples/foodpalaceAPP/server/foodpalaceappserver
go/pumiceDB/examples/niovaKV/nkvc/nkvc
go/pumiceDB/examples/niovaKV/pmdbServer/pmdbServer
go/pumiceDB/examples/niovaKV/proxy/proxy
niova.pc
.Tpo
test/.deps/
test/.dirstamp
test-driver
